
<%- include("header")-%>
<h1 class="h1">THIS IS THE ABOUT PAGE</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quis quam ratione? Amet sunt praesentium doloribus deserunt qui veritatis expedita sit itaque delectus et illo debitis repellat, atque nulla! Eum non voluptate id culpa minima sapiente adipisci vel, nobis architecto quas neque voluptatem, reprehenderit, eaque asperiores sit tempore nam repudiandae?</p>
<%- include("footer") -%>